.umrp-container {
	position: relative;
}
.umrp-status {
	position: absolute;
	top: 0;
	left: 0;
}
.umrp-content ul {
	margin-bottom: 0 !important;
}
.umrp-nav {
	margin-top: 10px;
	font-family: Arial, sans-serif;
	font-size: 10px;
}
.umrp-nav em,
.umrp-nav a {
	padding: 1px 3px;
	margin: 1px;
	border: 1px solid #ccc;
	line-height: 14px;
	text-decoration: none;
}
.umrp-nav em,
.umrp-nav a:hover {
	border-color: #3E89AF;
	background: #3E89AF;
	color: white;
	font-style: normal;
	text-decoration: none;
}